


            #topInterval{
                height: 150px;
            }
            #midlleInterval{
                height:50px;
            }
            div {
                text-align: center;
                height: 30px;
                font-size: 30px;

            }
            button{
                height: 60px;
                width: 300px;
                border-style: none;
                border-radius: 20px;
                font-size: 20px;
                font-weight: bold; 
                background-color: darkgray;
                color: white;


            }
            #yes{
                background-color: #04B404;

            }
            #no {
                background-color: #DF0101;
            }
